body {
    background-image: url('images/console.jpg');
    color: #FFFFFF;
    background-size: cover;
    text-align: left;
    vertical-align: bottom;
    text-shadow: #00000;
}
.button {
    background-color: #FF0000;
    border-radius: 8px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 5px 5px;
    cursor: pointer;
}
.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}
.button1:hover {
  background-color: #4CAF50;
  color: white;
}  
div {
padding-left: 20px;
padding-right: 20px;
}