body {
    background-image: url('images/console.jpg');
    color: #F10B0B;
    background-size: cover;
    text-align: left;
    vertical-align: bottom;
    text-shadow: #54E325;
}
.button {
    background-color:#f44336; /* Red */
    border:none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover {
  background-color:  #008CBA; /* Blue */
  color: white;
}
.button {border-radius: 8px;}
div {
padding-left: 20px;
padding-right: 20px;
}